@use "variables";
@import "../mixins/boxShadow";
@import "../mixins/flexRow";
@import "../mixins/flexColumn";

.blogs {
  padding: 25px 0;
  text-align: center;

  &__title {
    font-size: variables.$font-size * 3;
    padding: 25px 0;
  }

  &__description {
    width: 60%;
    font-size: variables.$font-size;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  &__container {
    @include flexRow(space-between);

    .blog {
      flex-basis: 30%;
      @include flexColumn(center);
      padding: 10px;
      row-gap: 20px;

      &__avatar {
        width: 70px;
        height: 70px;

        img {
          @include boxShadow(0, 1rem, 1rem, -0.75rem);
          width: 100%;
          border-radius: 50%;
        }
      }

      &__author {
        align-self: flex-end;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .blogs {
    &__container {
      flex-direction: column;
    }
  }
}
