@use "variables";
@use "general";
@import "../mixins/flexRow";

.character {
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;

  &__text {
    font-size: variables.$font-size * 1.2;
    text-align: center;
  }

  &__form {
    @include flexRow(center, center);
    margin-top: 40px;

    .form__group {
      margin-right: 40px;
      height: 42px;

      .form__label {
        &--hidden {
          display: none;
        }
      }

      input {
        width: 250px;
        height: 42px;
        padding: 8px;
        border: variables.$border-secondary;
        border-radius: variables.$border-radius-base;
        outline: none;

        &:hover {
          outline: none;
          border: variables.$border-primary;
        }
      }
    }

    .form__submit {
      @include flexRow(end);

      input {
        @extend %input-submit-base;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .character {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .character {
    margin: 0 50px;
  }
}

@media screen and (max-width: 550px) {
  .character__form {
    flex-direction: column;
    margin-top: 20px;

    .form__group {
      margin: 20px;
    }
  }
}
