@use "variables";

// TODO réparer contact

.contact {
  position: relative;
  margin: 40px auto;

  iframe {
    width: 100%;
    height: 500px;
    border: 0;
  }

  &__form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: variables.$color-secondary;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;

    h3 {
      margin: 10px 0;
      //font-size: 40px;
    }

    .form__group {
      margin: 20px 0;

      .form__label {
        &--hidden {
          display: none;
        }
      }

      input,
      textarea {
        width: 100%;
        background-color: variables.$color-secondary;
        padding: 4px;
        border: 0;
        border-bottom: variables.$border-white;
        outline: none;

        &:hover {
          outline: none;
          border-bottom: variables.$border-primary;
        }
      }
    }

    .form__group--row {
      display: flex;

      .form__group--margin-right {
        margin-right: 10px;
      }
    }

    .form__submit {
      display: flex;
      justify-content: end;

      input {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: variables.$color-primary;
        color: variables.$color-white;
        font-size: variables.$font-size * 1.2;
        cursor: pointer;
        // TODO faire hover sur les bouttons
      }
    }
  }
}

/*******  Media Query  *******/

@media screen and (max-width: 1300px) {
  .contact__form {
    .form__group--row {
      display: flex;
      flex-direction: column;

      .form__group--margin-right {
        margin-right: 0;
      }
      .form__group--margin-top {
        margin-top: 20px;
      }
    }
  }
}

.contact__form {
  position: static;
  transform: none;
  max-width: 80%;
  margin: 20px auto;

  .form__group--row {
    flex-direction: row;

    .form__group--margin-right {
      margin-right: 10px;
    }
    .form__group--margin-top {
      margin-top: 0;
    }
    .form__group--width {
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 650px) {
  .contact__form {
    max-width: 100%;
  }
}
