@use "variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
//html {
//scroll-behavior: smooth;
//}

body {
  background-color: variables.$color-white;
  font-family: variables.$font-primary;
  font-size: variables.$font-size;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}
