@use "variables";
@import "../mixins/flexRow";
@import "../mixins/grid";

%base-a {
  text-decoration-line: none;
  color: rgb(41, 39, 39);
}

.header {
  @include flexRow(space-between);
  margin: 25px 0 40px 0;

  h1 {
    display: none;
  }

  .menu {
    @include flexRow(center);
    margin: 25px 0;

    &__link {
      display: inline-block;
      padding: 10px 10px;

      a {
        @extend %base-a;
        font-size: variables.$font-size * 1.3;

        &:hover {
          border-bottom: variables.$border-primary;
        }
        img {
          display: none;
        }
      }
    }
  }
}
footer {
  margin-top: 25px;

  .container__logo {
    @include flexRow(center);
  }

  .menu {
    @include flexRow(center);
    margin: 25px 0;

    &__link {
      display: inline-block;

      a {
        @extend %base-a;
        padding: 10px 10px;
        display: flex;
      }

      span {
        font-size: 20px;
      }

      &--span:hover {
        border-bottom: variables.$border-primary;
      }
    }
  }

  .separator {
    border-top: variables.$separator;
  }
  .last-line {
    @include flexRow(space-between);
    margin: 25px 0;

    &__social {
      img {
        width: 20px;
        border-radius: variables.$border-radius-base / 2;
        cursor: pointer;
      }
    }
    &__contact {
      @include flexRow(flex-start, center);
      &--phone {
        font-size: 0.9rem;
        margin-left: 0 !important;
      }

      img {
        width: 15px;
        margin: 0 5px 0 10px;
      }
      a {
        @extend %base-a;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .header {
    margin: 25px 20px 40px 20px;
  }
}
@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
    margin: 25px 0 40px 0;

    .container__logo {
      text-align: center;
      margin-top: 20px;
    }

    .menu {
      margin: 40px 0;

      ul {
        @include flexRow(center, center);
        width: 100%;
      }

      &__link {
        background-color: variables.$color-secondary;
        flex-grow: 1;
        margin: 0 10px;
        border-radius: 10px;
      }

      &__link:hover {
        flex-grow: 2;
        background-color: variables.$color-primary;
      }

      .link__text {
        display: none;
      }

      .link__img {
        display: block;
        width: 30px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  footer {
    .menu ul {
      @include grid(repeat(3, 1fr));
    }

    .last-line {
      @include grid(2fr 1fr);

      &__author {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &__social {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
        justify-self: end;
      }
      &__contact {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  footer {
    .last-line {
      &__contact {
        @include grid(30px 1fr);
        align-items: flex-start;

        img {
          margin: 0;
        }
      }
    }
  }
}
