@use "variables";
@import "../mixins/flexRow";
@import "../mixins/flexColumn";
@import "../mixins/boxShadow";
@import "../mixins/grid";

.movies {
  padding: 40px 0;

  &__title {
    text-align: center;
    font-size: variables.$font-size * 2;
    padding: 25px 0;
  }

  &__description {
    width: 60%;
    font-size: variables.$font-size;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  &__container {
    @include flexRow(space-between);

    .movie {
      flex-basis: 20%;
      @include flexColumn(center, space-between);
      @include boxShadow(0, 1.5rem, 3rem, -0.75rem);
      border-radius: variables.$border-radius-base;
      padding: 20px 10px 10px 10px;
      row-gap: 20px;

      &__title {
        text-align: center;

        &--caption {
          font-size: variables.$font-size * 0.8;
        }
      }

      &__text {
        text-align: justify;
      }

      &__sociaux {
        width: 100%;
        @include flexRow(start);
        gap: 10px;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .movies {
    &__container {
      @include grid(repeat(2, 1fr));
      gap: 40px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .movies {
    &__container {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 850px) {
  .movies {
    &__container {
      @include grid(1fr);
      gap: 40px;
    }
  }
}
