@use "variables";
@use "general";
@import "../mixins/flexRow";

.slogan {
  background-color: variables.$color-secondary;

  .slogan__container {
    @include flexRow(space-around, center);
    padding: 40px;

    .slogan__text {
      font-family: lora;
      font-size: variables.$font-size * 2.5;
      text-align: center;
      margin-right: 40px;
    }

    .slogan__btn {
      flex-shrink: 0;

      button {
        @extend %btn-base;
      }

      &--red {
        color: red;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .slogan__container {
    flex-direction: column;

    .slogan__btn {
      margin-top: 40px;
    }
  }
}
