@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

$color-white: #fff;
$color-primary: #91a644;
$color-secondary: #eeddac;
$color-accent: #6a5243;

$font-primary: "Nunito", sans-serif;
$font-accent: "Lora", serif;
$font-size: 16px;

$separator: solid 3px $color-accent;

$border-primary: 3px solid $color-primary;
$border-secondary: 3px solid $color-secondary;
$border-white: 3px solid $color-white;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $color-white;
  font-family: $font-primary;
  font-size: $font-size;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 40px 0;

  h1 {
    display: none;
  }

  // TODO changer menu < 950px

  .menu {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    &__links {
      display: inline-block;
      padding: 10px 10px;

      a {
        display: flex;
        text-decoration-line: none;
        align-items: flex-end;
        color: rgb(41, 39, 39);
        font-size: $font-size * 1.3;
        // scroll-behavior: smooth; TODO faire transition lente

        &:hover {
          border-bottom: $border-primary;
        }
      }
    }
  }
  .menu__alt {
    display: none;
  }
}

main {
  section {
    margin: 25px 0;
    // TODO ?? les margins ne s'additionnent pas mais se combinent?
  }
}
/*******  Section carousel  *******/

.carousel {
  ::-webkit-scrollbar {
    display: none;
  }
  .carousel__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    .slider {
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      box-shadow: 0 1.5rem 3rem -0.75rem $color-accent;
      border-radius: 0.5rem;
      scrollbar-width: none;

      img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
      }
    }

    .slider__nav {
      display: flex;
      column-gap: 1rem;
      position: absolute;
      bottom: 1.25rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $color-white;
        opacity: 0.75;
        transition: opacity ease 250ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/*******  Section character  *******/

.character {
  padding: 40px 0;
  &__text {
    font-size: $font-size * 1.2;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .form__group {
      margin-right: 40px;
      height: 42px;

      .form__label {
        &--hidden {
          display: none;
        }
      }

      input {
        width: 250px;
        height: 42px;
        padding: 4px;
        border: $border-secondary;
        border-radius: 5px;
        outline: none;

        &:hover {
          outline: none;
          border: $border-primary;
        }
      }
    }

    .form__submit {
      display: flex;
      justify-content: end;

      input {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: $color-primary;
        color: $color-white;
        font-size: $font-size * 1.2;
        cursor: pointer;
        // TODO faire hover sur les bouttons
      }
    }
    // TODO faire hover sur les bouttons
  }
}

/*******  Section slogan  *******/
.slogan {
  background-color: $color-secondary;

  .slogan__container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;

    .slogan__text {
      font-family: lora;
      font-size: $font-size * 2.5;
      text-align: center;
      margin-right: 40px;
    }

    .slogan__btn {
      padding: 10px 20px;
      background-color: $color-primary;
      font-size: $font-size * 1.2;
      color: $color-white;
      border-radius: 5px;
      cursor: pointer;
      flex-shrink: 0;

      &--red {
        color: red;
      }
      // TODO faire hover sur les bouttons
    }
  }
}

/*******  Section contact  *******/
.contact {
  &__form {
    background-color: $color-secondary;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;

    .form__group {
      margin: 20px 0;
      display: flex;

      &--width {
        flex-grow: 1;

        &:nth-child(1) {
          margin-right: 10px;
        }
      }

      .form__label {
        &--hidden {
          display: none;
        }
      }

      input,
      textarea {
        width: 100%;
        background-color: $color-secondary;
        padding: 4px;
        border: 0;
        border-bottom: $border-white;
        outline: none;

        &:hover {
          outline: none;
          border-bottom: $border-primary;
        }
      }
    }

    .form__submit {
      display: flex;
      justify-content: end;

      input {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: $color-primary;
        color: $color-white;
        font-size: $font-size * 1.2;
        cursor: pointer;
        // TODO faire hover sur les bouttons
      }
    }
  }
}

/*******  footer  *******/

footer {
  margin-top: 25px;

  .container__logo {
    // Voir si je laisse là ou remonte pour être utile a header
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    &__links {
      display: inline-block;

      a {
        display: flex;
        text-decoration-line: none;
        align-items: flex-end;
        padding: 10px 10px;
        color: rgb(41, 39, 39);

        span {
          font-size: 20px;
        }
      }

      &--span:hover {
        border-bottom: $border-primary;
      }
    }
  }

  .separator {
    border-top: $separator;
  }
  .last-line {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    &__social {
      img {
        width: 20px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    &__contact {
      display: flex;
      align-items: center;

      &--phone {
        font-size: 0.9rem;
        margin-left: 0 !important; //TODO ??
      }

      img {
        width: 15px;
        margin: 0 5px 0 10px;
      }
    }
  }
}

/*******  Media Query  *******/

// TODO ?? vérifier comment placer media query

@media screen and (max-width: 1200px) {
  .form__group {
    flex-direction: column;

    &--width {
      margin-right: 0 !important; // TODO ??
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    .menu {
      display: none;
    }
    .menu__alt {
      display: block;
    }
  }
  .slogan__container {
    flex-direction: column;

    .slogan__btn {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 850px) {
  footer {
    .menu ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .last-line {
      display: grid !important; // TODO ?? pourquoi je dois mettre !important
      grid-template-columns: 2fr 1fr;

      &__author {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &__social {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
        justify-self: end;
      }
      &__contact {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .character__form {
    flex-direction: column;

    .form__group {
      margin: 20px;
    }
  }
}
